@import './base.css';

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  } */

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */


.gobPrimary {
  background-color: rgb(105, 28, 32);
  background: rgb(105, 28, 32);
}
.gobSecondary {
  background-color: rgb(16, 49, 43);
}
.gobTertiary {
  background-color: rgb(188, 149, 92);
}
.gobGray {
  background-color: rgba(111, 114, 113, 0.1);
}

.userview-content {
  padding: 1rem 2rem 0rem 1rem;
  height: 100%;
  min-height: calc(100vh - 4rem);
  background-color: rgba(111, 114, 113, 0.01);
}

